
.home {
  margin: 0 auto;
  max-width: 1000px;
  display: flex;
  padding: 20px;
  justify-content: center;
  flex-wrap: wrap;
  font-family: 'Bungee';
  font-size: 10px;
}

.about {
  margin: 0 auto;
  min-height: 280px;
  padding: 20px;
  flex-wrap: wrap;
  font-family: 'Bungee';
  background-color: rgba(248, 241, 161, 0.8);
  letter-spacing: normal;
  max-width: 600px;
  max-height: 500px;
  overflow: scroll;
  border: 1px solid #222;
  border-radius: 4px;
}

.selfie{
  float: left;
  padding: 20px;
}

.aboutme{
  color: #222;
  font-size: 15px;
  padding: 20px;
  font-family: 'Muli';
}

.contact{
  margin: 0 auto;
  display: flex;
  justify-content: center;
  color: #222;
  font-size: 15px;
  padding: 10px;
  font-family: 'Muli';
  text-align: left;
  background-color: rgba(248, 241, 161, 0.95);
  max-width: 600px;
  max-height: 400px;
  overflow: scroll;
  border: 1px solid #222;

}

.resume {
  display: flex;
  align-items: center;
  justify-content: center;
}

.resumepic{
  height: 500px;
  width: auto;
  border: 1px solid #222;
}



a.block1 {
  padding-top: 8%;
}

a.block2 {
  padding-top: 8%;
}

a.block3 {
  padding-top: 8%;
}

a.block4 {
  padding-top: 8%;
}

.block1 {
  text-decoration: none;
  text-align: center;
  margin: 20px;
  padding: 20px;
  align-items: center;
  height: 200px;
  min-width: 200px;
  border-radius: 8px;
  background-color: rgba(248, 241, 161, 0.95);
  color: teal;
  font-size: 25px;
  border: 1px solid #222;
}

.block2 {
  text-decoration: none;
  text-align: center;
  margin: 20px;
  padding: 20px;
  align-items: center;
  height: 200px;
  min-width: 200px;
  border-radius: 8px;
  background-color: rgba(85, 69, 47, 0.95);
  color: teal;
  font-size: 25px;
  border: 1px solid #222;
}

.block3 {
  text-decoration: none;
  text-align: center;
  margin: 20px;
  padding: 20px;
  align-items: center;
  height: 200px;
  min-width: 200px;
  border-radius: 8px;
  background-color: rgba(226, 201, 55, 0.95);
  color: teal;
  font-size: 25px;
  border: 1px solid #222;
}

.block4 {
  text-decoration: none;
  text-align: center;
  margin: 20px;
  padding: 20px;
  align-items: center;
  height: 200px;
  min-width: 200px;
  border-radius: 8px;
  background-color: rgba(178, 173, 119, 0.95);
  color: teal;
  font-size: 25px;
  border: 1px solid #222;
}

.block1:hover {
  text-decoration: none;
  color: white !important;
}
.block2:hover {
  text-decoration: none;
  color: white !important;
}
.block3:hover {
  text-decoration: none;
  color: white !important;
}
.block4:hover {
  text-decoration: none;
  color: white !important;
}

.header {
  display: flex;
  justify-content: flex-end;
  margin: 5px;
}

/*a.focus {
  text-decoration: none;
  color: aqua !important;
}*/
.nav {
  color: tan;
  text-decoration: none !important;
  background-color: rgba(34, 34, 34, .9);
  padding: 10px;
  justify-content: flex-end;
  border-radius: 7px;
  margin: 2px;
  font-family: "Muli"
}

.projects {
  text-align: center;
  box-sizing: border-box;
}

.active {
  text-decoration: none !important;
  color: white !important;
}

.active:hover {
  text-decoration: none !important;
  color: aqua !important;
}

.seanHeader {
  padding: 7px;
  color: #222;
  text-decoration: none;
  margin-right: auto;
}



.tictactoe {
  max-height: 500px;
  width: 100%;
  max-width: 380px;
  height: auto;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 10px;
  background-color: #222;
  margin: 20px;
  border-radius: 8px;
}

.App-logo {
  height: 200px;
  border-radius: 10px;
  border: 2px solid #222;

}

h1{
  display: flex;
  justify-content: flex-start;
  font-size: 44px;
  font-family: 'Bungee Inline';
  color: #222;
  margin-left: 10px;
  margin-top: 30px;
}

h2{
  display: flex;
  justify-content: flex-start;
  font-size: 22px;
  font-family: 'Bungee';
  color: #222;
  margin-left: 10px;
}


ul {
  list-style: none;
  text-align: right;
}

.content {
  margin-top: 3%;
  position: relative;
  font-family: "Muli";
}

@media screen and (max-width:yourdevice-px) {
    @-ms-viewport{
        width:required-px;
    }
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
